
.list-group1 {
    padding-top: 0 !important;
  }

  .list-group-item1 {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #131b3c;
  }

  .list-group-item1:hover, .list-group-item1:focus {
    z-index: 1;
    text-decoration: none;
    background-color: #f5f7fa;
  }
  

  .tooltip1 {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    width: 282px;
    height: 150px;
    border: solid 1px #e6e9f2;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .left1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .right1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-left: solid 1px #e6e9f2;
    padding-left: 30px;
  }