<img class="banner" src="assets/gofer-logo/gofer-logo.png" />
<form class="my-container" id="contactForm" [formGroup]="contactForm" novalidate (ngSubmit)="submitUser()">
  <div class="my-title">
    User details
  </div>
  <div class="user-details">
    <div class="card" [class.err]="error.firstName">
      <input type="text" formControlName="firstName" placeholder="First Name" [(ngModel)]="userForm.firstName" />
    </div>
    <div class="card" [class.err]="error.lastName">
      <input type="text" formControlName="lastName" placeholder="Last Name" [(ngModel)]="userForm.lastName" />
    </div>
    <div class="card" [class.err]="error.birthDate">
      <input type="text" formControlName="birthDate" placeholder="Birth Date" [(ngModel)]="userForm.birthDate" />
    </div>
    <div class="card" [class.err]="error.phoneNumber">
      <input type="text" formControlName="phoneNumber" placeholder="Phone Number" [(ngModel)]="userForm.phoneNumber" />
    </div>
    <div class="card grid-col-expand" [class.err]="error.emailAddress">
      <input type="text" formControlName="emailAddress" placeholder="Email Address" [(ngModel)]="userForm.emailAddress" />
    </div>
  </div>
  <div class="my-title">
    Account details
  </div>
  <div class="account-details">
    <div class="card" [class.err]="error.userName">
      <input type="text" formControlName="userName" placeholder="User Name" [(ngModel)]="userForm.userName" />
    </div>
    <a class="grid-row-expand photo-container" href="#" (click)="fileInput.click()" [class.card]="!isLoaded">
        <div *ngIf="!isLoaded">+ Add Photo</div>
        <img *ngIf="!isLoaded" src="assets/users/Antu_im-invisible-user.png" style="width: 100px; height: 100px" />
        <img *ngIf="isLoaded" [src]="imageUrl" class="img-fit" />
    </a>
    <div class="card" [class.err]="error.password">
      <input type="text" formControlName="password" placeholder="Password" [(ngModel)]="userForm.password" />
    </div>
    <div class="card" [class.err]="error.repeatPassword">
      <input type="text" formControlName="repeatPassword" placeholder="Repeat Password" [(ngModel)]="userForm.repeatPassword" />
    </div>
  </div>
  <div class="buttons-container">
    <button mat-button color="warn" type="button" (click)="clearDetails()">Clear</button>
    <button mat-button color="success" type="submit">Add</button>
  </div>
</form>

<input #fileInput type="file" style="display:none;" (change)="fileChange($event.target.files)" />