.circle-defult{
    background: rgba(255, 255, 255, 0.2);
}

.circle-active{
    background-color: #47a0f9;
    border: solid 1px #459bf3;
}

.nav-space{
    margin-bottom: 25px;
}

.circle {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
}

.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img{
      object-fit: contain;
  }

