<div class="circle circle-defult nav-space img-wrapper" style="margin-top: 20px">
    <img src="assets/LeftNavSVG/files-copy-5.svg" />
</div>
<div class="circle circle-defult nav-space img-wrapper">
    <img src="assets/LeftNavSVG/files-copy-4.svg" />
</div>
<div class="circle circle-defult nav-space img-wrapper">
    <img src="assets/LeftNavSVG/messages-home-copy.svg" />
</div>
<div class="circle circle-defult nav-space img-wrapper">
    <img src="assets/LeftNavSVG/calander-copy-2.svg" />
</div>
<div class="circle circle-defult nav-space img-wrapper">
    <img src="assets/LeftNavSVG/to-do-copy.svg" />
</div>
<div class="circle circle-active nav-space img-wrapper">
    <img src="assets/LeftNavSVG/group-23-copy.svg" />
</div>
<div class="circle circle-defult nav-space img-wrapper">
    <img src="assets/LeftNavSVG/desktop-copy.svg" />
</div>
<div class="circle circle-defult img-wrapper">
    <img src="assets/LeftNavSVG/images-copy-2.svg" />
</div>
